button {
    color:purple;

}
.heading {
    background-color: blueviolet;
}
h1{
    background-color:antiquewhite;
    margin-top: 40px;
}
span {
    margin-top: 40px;
}
h1{
    background-color:aqua;
    color: rgb(78,3, 3);
}
#headingone {
    background-color: red;
}